/* VARIABLES */
/* MIXIN */
/* BODY GENERAL */
body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to bottom right, #8bcdcd, #f1d4d4, #c3aed6);
  font-family: 'Kufam', cursive; }

/* HEADER */
header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 2%; }
  header img {
    border-radius: 90%;
    height: 125px;
    width: 125px; }
  header h1 {
    display: inline-block;
    padding: 1rem 1rem;
    font-size: 1.5rem;
    align-self: center; }

.submenu {
    position: relative;
}

li img {
  padding-right: 50%;
}
  
.submenu #carrito{
      display: none;
}
.submenu:hover #carrito{
      display: block;
      position: absolute;
      right: 0;
  
      top:100%;
      z-index: 1;
      background-color: #c0e4dd;
      padding: 30px;
      min-height: 350px;
      min-width: 500px;
}   

.borrar-producto {
  margin-left: 155%;
}

a:hover {
  text-decoration: none;
}

/* MENU NAV */

#mainNav {
    padding-left: 10%;
    padding-top: 3% ;
    padding-bottom: 3% ;
    text-align: center;
    background-color: #cdbedb;
}

ul {
  list-style: none;
}

/* MAIN GENERAL */
main {
  flex-wrap: nowrap; }
  main .row {
    padding-bottom: 3%; }

/* SERVICIOS */
#my-servi {
  font-size: 0.9rem; }
  #my-servi h2 {
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    color: black; }
  #my-servi #separar {
    padding-top: 5%; }
  #my-servi .row {
    padding-left: 6%; }
    #my-servi .row .card {
      width: 85% !important;
      height: 100%;
      background-color: rgba(246, 222, 239, 0.924);
      -webkit-box-shadow: 10px 14px 24px 0px rgba(102, 102, 102, 0.5);
      -moz-box-shadow: 10px 14px 24px 0px rgba(102, 102, 102, 0.5);
      box-shadow: 10px 14px 24px 0px rgba(102, 102, 102, 0.5); }
      #my-servi .row .card .card-text {
        padding-top: 8%; }
      #my-servi .row .card .card-title {
        font-size: 1.1rem;
        font-weight: bold;
        text-align: center; }
      #my-servi .row .card .list-group-item {
        background-color: rgba(229, 200, 236, 0.959); }
      #my-servi .row .card img {
        height: 35vh;
        width: 30vw;
        padding-left: 12%;
        padding-top: 5%; }

.card .precio {
          font-weight: 700;
          font-size: 22px;
}     
a {
  color: #11698e;
  font-size: 125%;
}
.agregar-carrito {
  padding-left:50%;
}

/* SERVICIOS ACLARACION SECTION */
.aclaracion {
  color: black;
  font-size: 1rem;
  text-align: center;
  padding-right: 6%;
  padding-top: 3%; }


 /*ACTUALIZACION */ 
.actualizacion {
    font-size: 0.6rem;
    margin-top: 5%;
    margin-bottom: 5%; 
    margin-left: 6.2%;
    h2 {
      padding-top: 3%;
      padding-bottom: 3%;
      text-align: center;
      color: black; }
    .row {
      padding-left: 6%; }
      .row .card {
        width: 85% !important;
        height: 100%;
        background-color: rgba(246, 222, 239, 0.924);
        -webkit-box-shadow: 10px 14px 24px 0px rgba(102, 102, 102, 0.5);
        -moz-box-shadow: 10px 14px 24px 0px rgba(102, 102, 102, 0.5);
        box-shadow: 10px 14px 24px 0px rgba(102, 102, 102, 0.5); }
        .row .card .card-text {
          padding-top: 8%; }
        .row .card .card-title {
          font-size: 1.1rem;
          font-weight: bold;
          text-align: center; }
        .row .card .list-group-item {
          background-color: rgba(229, 200, 236, 0.959); }
        .row .card img {
          height: 35vh;
          width: 30vw;
          padding-left: 21%;
          padding-top: 5%; }
  
  .card .precio {
            font-weight: 700;
            font-size: 22px;
  }     
  a {
    color: #11698e;
    font-size: 125%;
  }
  .agregar-carrito {
    padding-left:50%;
  }
}  

/* NOSOTROS INFO */
.ContNosotros {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center; }

.ContNosotros__nosotros {
  font-size: 1.1rem;
  line-height: 2rem;
  flex-wrap: nowrap;
  text-align: center; }
  .ContNosotros__nosotros h2 {
    color: black;
    text-align: center;
    width: auto;
    font-size: 2rem;
    padding: 2rem; }
  .ContNosotros__nosotros ul {
    flex-wrap: nowrap;
    list-style: none;
    width: 90%;
    padding-left: 8%; }
  .ContNosotros__nosotros li {
    padding: 1.5rem;
    text-align: center;
    border-radius: 2%; }

/* NOSOTROS IMAGENES */
.nosotros__imagenes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 5%;
  margin-right: 3.5%; }
  .nosotros__imagenes img {
    margin: 5%;
    height: 35vh;
    width: 23vw; }

/* NOSOTROS TRANSICION */
.transicion :hover {
  transform: scale(1.1, 1.1);
  transition: all 2s; }

  /* OPINIONES */
.accordion {
  width: 94%;
  margin-left: 3%;
  -webkit-box-shadow: 10px 3px 33px 0px rgba(110, 110, 110, 0.89);
  -moz-box-shadow: 10px 3px 33px 0px rgba(110, 110, 110, 0.89);
  box-shadow: 10px 3px 33px 0px rgba(110, 110, 110, 0.89); }
  .accordion .card {
    background-color: rgba(250, 219, 240, 0.924);
    padding: 2%; }
    .accordion .card .btn {
      text-decoration: none;
      color: black;
      font-weight: bold; }

.top {
  line-height: 2rem;
  text-align: center;
  padding: 2%;
  margin: 3%;
  margin-left: 4%;
  font-size: 1.1rem;
  width: 90%; }
  .top h3 {
    font-size: 1.5rem; }
  .top form {
    display: flex;
    flex-direction: column; }
  .top textarea {
    width: 60%;
    margin-left: 20%; }
  .top input {
    background-color: rgba(240, 122, 202, 0.924);
    border: #b3b3b3;
    width: 20%;
    margin-top: 3%;
    margin-left: 40%; }

/* CONTACTO */
.contacto {
  padding: 2%;
  margin-bottom: 2%; }
  .contacto h2 {
    text-align: center;
    margin-top: 5%; }
  .contacto .boton-enviar {
    background-color: rgba(250, 175, 226, 0.979);
    border: #f679f6;
    margin-left: 4%; }
  .contacto label {
    padding-top: 6%; }
  .contacto input {
    margin-bottom: 6%;
    margin-top: 6%;
    width: 80%; }
  .contacto textarea {
    display: flex;
    flex-direction: column;
    width: 80%; }
  .contacto select {
    width: 80%; }
  .contacto p {
    padding-top: 2%;
    padding-bottom: 2%; }
  .contacto img {
    padding-top: 2%; }
  .contacto .col-md-6 {
    display: flex;
    flex-direction: column; }
  .contacto iframe {
    padding-top: 5%;}
  .contacto .list-group-horizontal {
    text-align: center;
    margin-left: 5%; }
    .contacto .list-group-horizontal .list-group-item {
      background-color: transparent;
      border: transparent;
      width: 30%;
      font-size: 1.1rem; }
      .contacto .list-group-horizontal .list-group-item .img-fluid {
        width: 13%;
        padding-right: 5%; }
      .contacto .list-group-horizontal .list-group-item a {
        color: black; }


/* FOOTER */
footer {
  border-top: rgba(139, 139, 139, 0.972) 0.5px solid;
  padding: 3%;
  color: black; }

/* AJUSTES PARA MEDIA QUERY */
@media (max-width: 991px) {
  header {
    margin-top: 5%; 
    .top p {
      margin-top: 5%; }
    .top h3 {
      margin-top: 5%; }
    .nosotros__imagenes {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap; }
      .nosotros__imagenes img {
        width: 45%;
        height: 45%; } 
} 

@media (max-width: 575px) {
  #my-servi .row {
    display: flex;
    flex-direction: column; }
  #my-servi .card {
    margin-left: 5%; }
    #my-servi .card .card-body {
      height: 100%; }
    #my-servi .card .card-img-top {
      margin-left: -10%;
      width: 120% !important; }
  .contacto input {
        width: 70%; }
  .contacto select {
        width: 70%; }
  .contacto textarea {
        width: 70%; }    
}

@media (min-width: 576px) and (max-width: 1200px) {
  #my-servi .row {
    display: flex;
    flex-direction: row;
    padding-right: 5%; }
  #my-servi .card {
    margin-left: 5%;
    width: 100%; }
    #my-servi .card .card-img-top {
      margin-left: -4%;
      height: 20vh !important; }
    #my-servi .card .card-body {
      height: 100%; } }

@media (max-width: 1200px) {
  .ContNosotros {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center; }
  .ContNosotros__nosotros {
    align-self: center; }
    .ContNosotros__nosotros h2 {
      color: black;
      text-align: center; }
    .ContNosotros__nosotros li {
      list-style-type: none;
      font-size: 0.9rem; }
  .contacto .list-group-horizontal {
    display: flex;
    flex-direction: column; }
    .contacto .list-group-horizontal .list-group-item {
      background-color: transparent;
      border: transparent;
      width: 30%;
      font-size: 1.1rem; }
      .contacto .list-group-horizontal .list-group-item .img-fluid {
        width: 30%; } }

@media (max-width: 767px) {
  .contacto img {
    margin-left: 10%;
    width: 50%; } }

@media (min-width: 767px) and (max-width: 1200px) {
  .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -1rem; } }

@media (max-width: 691px) {
  .top {
    width: 82%;
    margin-left: 9%; }
    .top input {
      margin-left: 20%;
      width: 60%; } }