/* VARIABLES */
/* MIXIN */
/* BODY GENERAL */
body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to bottom right, #8bcdcd, #f1d4d4, #c3aed6);
  font-family: 'Kufam', cursive; }

/* HEADER */
header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 2%; }
  header img {
    border-radius: 90%;
    height: 125px;
    width: 125px; }
  header h1 {
    display: inline-block;
    padding: 1rem 1rem;
    font-size: 1.5rem;
    align-self: center; }

.submenu {
      position: relative;
}
  
.submenu #carrito{
      display: none;
}
.submenu:hover #carrito{
      display: block;
      position: absolute;
      right:0;
  
      top:100%;
      z-index: 1;
      background-color: #c0e4dd;
      padding: 30px;
      min-height: 400px;
      min-width: 300px;
}    

/* MENU NAV */

#mainNav {
    padding: 20px 0 0 0;
    text-align: center;
}

ul {
  list-style: none;
}

/* MAIN GENERAL */
main {
  flex-wrap: nowrap; }
  main .row {
    padding-bottom: 3%; }

/* SERVICIOS */
#my-servi {
  font-size: 0.9rem; }
  #my-servi h2 {
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    color: black; }
  #my-servi #separar {
    padding-top: 5%; }
  #my-servi .row {
    padding-left: 6%; }
    #my-servi .row .card {
      width: 85% !important;
      height: 100%;
      background-color: rgba(246, 222, 239, 0.924);
      -webkit-box-shadow: 10px 14px 24px 0px rgba(102, 102, 102, 0.5);
      -moz-box-shadow: 10px 14px 24px 0px rgba(102, 102, 102, 0.5);
      box-shadow: 10px 14px 24px 0px rgba(102, 102, 102, 0.5); }
      #my-servi .row .card .card-text {
        padding-top: 8%; }
      #my-servi .row .card .card-title {
        font-size: 1.1rem;
        font-weight: bold;
        text-align: center; }
      #my-servi .row .card .list-group-item {
        background-color: rgba(229, 200, 236, 0.959); }
      #my-servi .row .card img {
        height: 35vh;
        width: 30vw;
        padding-left: 21%;
        padding-top: 5%; }

.card .precio {
          font-weight: 700;
          font-size: 22px;
}     
a {
  color: #11698e;
  font-size: 125%;
}
.agregar-carrito {
  padding-left:50%;
}

/* SERVICIOS ACLARACION SECTION */
.aclaracion {
  color: black;
  font-size: 1rem;
  text-align: right;
  padding-right: 6%;
  padding-top: 3%; }


 /*ACTUALIZACION */ 
.actualizacion {
    font-size: 0.9rem; 
    h2 {
      padding-top: 3%;
      padding-bottom: 3%;
      text-align: center;
      color: black; }
    /*#separar {
      padding-top: 5%; }*/
    .row {
      padding-left: 6%; }
      .row .card {
        width: 85% !important;
        height: 100%;
        background-color: rgba(246, 222, 239, 0.924);
        -webkit-box-shadow: 10px 14px 24px 0px rgba(102, 102, 102, 0.5);
        -moz-box-shadow: 10px 14px 24px 0px rgba(102, 102, 102, 0.5);
        box-shadow: 10px 14px 24px 0px rgba(102, 102, 102, 0.5); }
        .row .card .card-text {
          padding-top: 8%; }
        .row .card .card-title {
          font-size: 1.1rem;
          font-weight: bold;
          text-align: center; }
        .row .card .list-group-item {
          background-color: rgba(229, 200, 236, 0.959); }
        .row .card img {
          height: 35vh;
          width: 30vw;
          padding-left: 21%;
          padding-top: 5%; }
  
  .card .precio {
            font-weight: 700;
            font-size: 22px;
  }     
  a {
    color: #11698e;
    font-size: 125%;
  }
  .agregar-carrito {
    padding-left:50%;
  }
}  

/* FOOTER */
footer {
  border-top: rgba(139, 139, 139, 0.972) 0.5px solid;
  padding: 3%;
  color: black; }

/* AJUSTES PARA MEDIA QUERY */
@media (max-width: 991px) {
  header {
    visibility: hidden; }
  #mainNav {
    margin-top: -18%; }
}    

@media (max-width: 575px) {
  #my-servi .row {
    display: flex;
    flex-direction: column; }
  #my-servi .card {
    margin-left: 5%; }
    #my-servi .card .card-body {
      height: 100%; }
    #my-servi .card .card-img-top {
      margin-left: -10%;
      width: 120% !important; }
}

@media (min-width: 576px) and (max-width: 1200px) {
  #my-servi .row {
    display: flex;
    flex-direction: row;
    padding-right: 5%; }
  #my-servi .card {
    margin-left: 5%;
    width: 100%; }
    #my-servi .card .card-img-top {
      margin-left: -4%;
      height: 20vh !important; }
    #my-servi .card .card-body {
      height: 100%; } }

